a {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}
a:hover {
    color: rgb(148, 59, 59);
    text-decoration: none;
}
.tab-nav-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px rgb(0, 0, 0) solid;
}